In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('./assault_label_7.csv')
df

,creator,date,category_name,data_length,video_id,scene_id,img_id,scene_occupants,img_occupants,occupants_info,action_1,action_2
0,광주인공지능센터,20220114,운전자폭행,5,SGA2101432,SGA2101432S0197,SGA2101432S0197IMG0001.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,무언가를보다
1,광주인공지능센터,20220114,운전자폭행,5,SGA2101432,SGA2101432S0197,SGA2101432S0197IMG0002.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,물건을쥐다/휘드르다
2,광주인공지능센터,20220114,운전자폭행,5,SGA2101432,SGA2101432S0197,SGA2101432S0197IMG0003.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,물건을쥐다/휘드르다
3,광주인공지능센터,20220114,운전자폭행,5,SGA2101432,SGA2101432S0197,SGA2101432S0197IMG0004.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,물건을쥐다/휘드르다
4,광주인공지능센터,20220114,운전자폭행,5,SGA2101432,SGA2101432S0197,SGA2101432S0197IMG0005.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,물건을쥐다/휘드르다
...,...,...,...,...,...,...,...,...,...,...,...,...
61080,으뜸정보기술,20220112,운전자폭행,5,SGA2101414,SGA2101414S0818,SGA2101414S0818IMG0001.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,일어서다
61081,으뜸정보기술,20220112,운전자폭행,5,SGA2101414,SGA2101414S0818,SGA2101414S0818IMG0002.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,운전자의핸들조작방해하기
61082,으뜸정보기술,20220112,운전자폭행,5,SGA2101414,SGA2101414S0818,SGA2101414S0818IMG0003.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,운전자의핸들조작방해하기
61083,으뜸정보기술,20220112,운전자폭행,5,SGA2101414,SGA2101414S0818,SGA2101414S0818IMG0004.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,운전자의핸들조작방해하기
61084,으뜸정보기술,20220112,운전자폭행,5,SGA2101414,SGA2101414S0818,SGA2101414S0818IMG0005.jpg,2,2,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,운전자의핸들조작방해하기

# str을 dict로 변환

In [113]:
import json

df['occupants_info'] = df['occupants_info'].apply(lambda x: json.loads(x.replace("'", '@').replace('"', "'").replace("@", '"')))

# 데이터 종류 확인

In [114]:
df.describe()

               date  data_length  scene_occupants  img_occupants
count  6.108500e+04      61085.0     61085.000000   61085.000000
mean   2.022011e+07          5.0         1.999263       1.999263
std    9.072741e-01          0.0         0.027132       0.027132
min    2.022011e+07          5.0         1.000000       1.000000
25%    2.022011e+07          5.0         2.000000       2.000000
50%    2.022011e+07          5.0         2.000000       2.000000
75%    2.022011e+07          5.0         2.000000       2.000000
max    2.022012e+07          5.0         2.000000       2.000000

In [115]:
print(f'''Creator : {df['creator'].unique()}
Date : {df['date'].unique()}
Category : {df['category_name'].unique()}
Data_length : {df['data_length'].unique()}
Num_videos : {len(df['video_id'].unique())}
Num_scenes : {len(df['scene_id'].unique())}
Occupant1_Action : {df['action_1'].unique()}
Occupant2_Action : {df['action_2'].unique()}
''')

Creator : ['광주인공지능센터' '으뜸정보기술' '디투리소스']
Date : [20220114 20220112 20220117]
Category : ['운전자폭행']
Data_length : [5]
Num_videos : 25
Num_scenes : 12217
Occupant1_Action : ['운전하다' '무언가를보다' '일어서다' '운전자를향해발을뻗다' '운전자를향해손을뻗다' '차량의문열기']
Occupant2_Action : ['무언가를보다' '물건을쥐다/휘드르다' '침뱉기' '운전자를향해손을뻗다' '운전자를향해발을뻗다' '운전자의핸들조작방해하기'
 '일어서다' '운전하다' '차량의문열기' '없음']

In [116]:
df[['category_name']].value_counts() # 둘이 동일함, 중복되는 게 없음

category_name
운전자폭행            61085
Name: count, dtype: int64

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61085 entries, 0 to 61084
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   creator          61085 non-null  object
 1   date             61085 non-null  int64
 2   category_name    61085 non-null  object
 3   data_length      61085 non-null  int64
 4   video_id         61085 non-null  object
 5   scene_id         61085 non-null  object
 6   img_id           61085 non-null  object
 7   scene_occupants  61085 non-null  int64
 8   img_occupants    61085 non-null  int64
 9   occupants_info   61085 non-null  object
 10  action_1         61085 non-null  object
 11  action_2         61085 non-null  object
dtypes: int64(4), object(8)
memory usage: 5.6+ MB

# 샘플 데이터

In [124]:
df.loc[0, 'occupants_info']

[{'occupant_id': 'occupant1',
  'occupant_position': 'front',
  'bbox': [649.2799804687501,
   123.21137777777767,
   630.72001953125,
   596.7886222222223],
  'fbox': [872, 123.2654222222223, 262.07998046875, 311.86745010850694],
  'action': '운전하다'},
 {'occupant_id': 'occupant2',
  'occupant_position': 'back',
  'bbox': [79.67998046875, 164.83128888888896, 329.6, 555.1687111111111],
  'fbox': [110.07998046875001, 169.76896121961806, 164.8, 219.00515555555563],
  'action': '무언가를보다'}]

In [125]:
df.loc[0, ['action_1', 'action_2']]

action_1      운전하다
action_2    무언가를보다
Name: 0, dtype: object

In [126]:
df.loc[df[(df['img_occupants'] == 1)].index[0], 'occupants_info']

[{'occupant_id': 'occupant1',
  'occupant_position': 'front',
  'bbox': [600, 158.4, 577.6, 564.8000000000001],
  'fbox': [752, 187.20000000000002, 176, 235.20000000000002],
  'action': '차량의문열기'}]

In [127]:
df.loc[df[(df['img_occupants'] == 1)].index[0], 'action_1']

'차량의문열기'

# Nan 값 확인

# 이상 데이터

In [128]:
print(len(df[(df['action_2'] == '없음')]))
df[(df['action_2'] == '없음')].head()

45

,creator,date,category_name,data_length,video_id,scene_id,img_id,scene_occupants,img_occupants,occupants_info,action_1,action_2
41685,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0001.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41686,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0002.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41687,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0003.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41688,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0004.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,없음
41689,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0005.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,없음

In [129]:
print(len(df[(df['img_occupants'] == 1)]))
df[(df['img_occupants'] == 1)].head()

45

,creator,date,category_name,data_length,video_id,scene_id,img_id,scene_occupants,img_occupants,occupants_info,action_1,action_2
41685,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0001.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41686,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0002.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41687,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0003.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",차량의문열기,없음
41688,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0004.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,없음
41689,으뜸정보기술,20220117,운전자폭행,5,SGA2101452,SGA2101452S0554,SGA2101452S0554IMG0005.jpg,1,1,"[{'occupant_id': 'occupant1', 'occupant_positi...",운전하다,없음