In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('./validation_TL1.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL2.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL3.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL4.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL5.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL6.csv', encoding='UTF8')
df = pd.read_csv('./validation_TL7.csv', encoding='UTF8')

In [17]:
df[['category_id', 'category_name']].value_counts() # 둘이 동일함, 중복되는 게 없음

category_id  category_name
A007         운전자폭행            249414
A001         졸음운전              38859
A002         음주운전              34299
A003         물건찾기              22895
A004         통화                17185
A005         휴대폰조작              6975
A006         차량제어               4550
Name: count, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['category_id'] = le.fit_transform(df['category_name'])
print('category_name :', le.classes_)
df.drop(columns='category_name', inplace=True) # 중복되므로 삭제

category_name : ['물건찾기' '운전자폭행' '음주운전' '졸음운전' '차량제어' '통화' '휴대폰조작']

In [19]:
df['occupant_sex'] = le.fit_transform(df['occupant_sex'])
print('occupant_sex :', le.classes_)

occupant_sex : ['F' 'M']

In [20]:
df['occupant_age'].unique()

array(['30대', '기타', '40대', '20대'], dtype=object)

In [21]:
df['occupant_age'] = df['occupant_age'].apply(lambda x: '0' if x == '기타' else x) # '기타' 0으로 변경
df['occupant_age'] = df['occupant_age'].apply(lambda x: x[:-1] if x != '0' else x) # '30대'에서 '대' 삭제
df['occupant_age'] = df['occupant_age'].astype(np.int64) # int로 타입 변경
df['occupant_age'].unique()

array([30,  0, 40, 20], dtype=int64)

In [22]:
df['occupant_position'].unique()

array(['front', nan, 'back'], dtype=object)

In [23]:
df['data_length'].unique() # 이미지 길이 4,5만 존재

array([5, 4], dtype=int64)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374177 entries, 0 to 374176
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           374177 non-null  object
 1   date               374177 non-null  int64
 2   scene_id           374177 non-null  object
 3   category_id        374177 non-null  int32
 4   occupant_id        374177 non-null  object
 5   occupant_sex       374177 non-null  int32
 6   occupant_age       374177 non-null  int64
 7   occupant_position  374172 non-null  object
 8   data_length        374177 non-null  int64
 9   img_id             374177 non-null  object
 10  b_bbox1            374177 non-null  float64
 11  b_bbox2            374177 non-null  float64
 12  b_bbox3            374177 non-null  float64
 13  b_bbox4            374177 non-null  float64
 14  f_bbox1            374177 non-null  float64
 15  f_bbox2            374177 non-null  float64
 16  f_bbox3            374177 non-null  float64
 17  f_bbox4            374177 non-null  float64
 18  action             374177 non-null  object
 19  emotion            374177 non-null  object
dtypes: float64(8), int32(2), int64(3), object(7)
memory usage: 54.2+ MB

In [25]:
# action, emotion 원핫 인코딩으로 변환 후
# scene_id 또는 video_id로 묶어서 분포에 따라 데이터 분리할 지 결정

In [26]:
# 그리고 occupant_position에 nan 값 확인